{% extends "base.html" %}
{% load static %}
{% block title %}
Blog - Xplore
{% endblock %}
{% block content %}
<!-- Blog Breadcrumb Hero Section -->
<section class="blog-hero-section">
   <p class="blog-breadcrumb">
      <i class="fas fa-home"></i> Home <i class="fas fa-chevron-right"></i> {{category.category_name}}
   </p>
   <h1>{{category.category_name}}</h1>
</section>
<!-- Blog Breadcrumb Hero Section close -->
<!-- Blog Blog-Card Section Section start -->
<section class="blog-section" id="homeBlogs">
   <div class="blog-container">
      <div class="blog-row">
         {% for blog_cad in posts %}
         <div class="blog-col">
            <div class="blog-card">
               <div class="blog-image-wrap">
                  <img src="{{ blog_cad.blog_image.url }}" alt="Himachal" class="blog-image">
               </div>
               <div class="blog-card-body">
                  <h5 class="blog-title"><a href="{% url 'blog-details' blog_cad.slug %}">{{ blog_cad.title }}</a></h5>
                  <p class="blog-text">{{ blog_cad.short_description | truncatewords:20 }}</p>
                  <div class="blog-meta">
                     <span class="blog-author"><i class="fa-solid fa-user"></i> {{ blog_cad.author }}</span>
                     <span class="blog-category"><i class="fa-solid fa-mountain"></i>  {{ blog_cad.category }}</span>
                     <span class="blog-time"><i class="fa-regular fa-clock"></i> {{ blog_cad.create_at | timesince }} ago</span>
                  </div>
                  <a href="{% url 'blog-details' blog_cad.slug %}" class="blog-read-more">Read More <i class="fa-solid fa-arrow-right"></i></a>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</section>
<!-- Blog Blog-Card Section Section close -->
{% endblock %}